<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤</title>
    <link rel="stylesheet" type="text/css" href="./public/t1.css">
</head>
<body>
    <div class="member-box">
        <h2>發生錯誤</h2>
        <span>{{message}}</span>
        <div>
            <div style="width: 50%;float: left;text-align: center;">
                <a href="/">返回登入</a>
            </div>
            <div style="width: 50%;float: left;text-align: center;">
                <a href="/register">重新註冊</a>
            </div>
            

        </div>

    </div>
</body>
</html>